<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение</title>
</head>
<body>
    <div class="container">
        <div class="nav-container">
            <a href="{{ url_for('index') }}" class="logo">MaxUltra</a>
            <div class="nav-links">
        <h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>
               
        
        <p>1. Введение
        Данная Политика конфиденциальности определяет порядок использования и защиты нами, компанией Telegram Messenger Inc (далее — «Telegram»), Ваших персональных данных, предоставленных Вами или иным образом полученных или сгенерированных нами в связи с использованием Вами наших услуг облачного обмена сообщениями (далее — «Услуги»). В рамках данной Политики конфиденциальности местоимения «мы» и «наш» относятся к Telegram, а «Вы» и «Ваш» — к Вам как потребителю Услуг.
        
        1.1. Принципы конфиденциальности
        В вопросах сбора и обработки персональных данных Telegram придерживается двух основополагающих принципов:
        
        Мы не используем данные Вашей переписки для показа рекламы.
        Мы храним только те данные, которые необходимы для корректной работы Telegram в качестве надёжного и многофункционального сервиса для обмена сообщениями.
        1.2. Пользовательское соглашение
        Данная Политика конфиденциальности является частью Пользовательского соглашения Telegram, определяющего условия использования наших Услуг. Таким образом, данную Политику конфиденциальности следует рассматривать в совокупности с Пользовательским соглашением, доступным по ссылке https://telegram.org/tos/ru.
        
        1.3. Содержание
        Данная Политика конфиденциальности определяет:
        
        на каких правовых основаниях мы обрабатываем персональные данные;
        какие из Ваших персональных данных мы можем собирать;
        как мы обеспечиваем безопасность персональных данных;
        для каких целей мы можем использовать персональные данные;
        кому могут быть переданы персональные данные; и
        какие у Вас есть права в отношении Ваших персональных данных.
        2. Правовые основания для обработки персональных данных
        Основанием для обработки Ваших персональных данных является её необходимость для реализации наших законных интересов (включая (1) предоставление эффективных и современных Услуг пользователям и (2) выявление, пресечение и другие меры по предотвращению мошенничества или угроз безопасности в связи с предоставлением нами Услуг), за исключением случаев, когда над нашими интересами преобладают Ваши интересы или фундаментальные права и свободы, требующие защиты персональных данных.
        
        3. Виды персональных данных, которые мы используем
        3.1. Основные сведения об учётной записи
        Telegram — это сервис для общения. При создании учётной записи в Telegram Вы указываете номер телефона и основные сведения об учётной записи (например, имя, фотографию профиля и краткую информацию о пользователе).
        
        Выбранные Вами имя профиля, фотографии профиля и имя пользователя (если Вы решите его установить) всегда доступны другим пользователям Telegram, чтобы Вашим контактам и другим людям было проще узнать Вас или связаться с Вами. Мы не просим указывать Ваше настоящее имя, пол, возраст или предпочтения.
        
        Отображаемое имя не обязательно должно совпадать с Вашим настоящим именем. Обратите внимание, что пользователь, который добавил Вас в контакты, будет видеть Вас не под указанным Вами именем, а под тем, которое сохранил для Вашего номера в своём списке контактов. Например, Ваш отец может указать имя «Александр С.», но у Вас он будет отображаться как «Папа», а у подчинённых — как «Начальник» (или под любым другим именем — в зависимости от того, как собеседник запишет его в свой список контактов).
        
        3.2. Адрес электронной почты
        Когда Вы включаете для своей учётной записи двухэтапную аутентификацию или сохраняете документы в сервисе Telegram Passport, Вы можете указать адрес электронной почты для восстановления пароля. Этот адрес используется исключительно для отправки кода в рамках процедуры восстановления забытого пароля. Мы не занимаемся надоедливыми рассылками вроде «Вы давно к нам не заглядывали» и не отправляем рекламные письма.
        
        Начиная с сентября 2022 года мы можем запрашивать у некоторых пользователей электронный адрес для отправки кодов для входа в учётную запись по электронной почте вместо СМС (с возможностью «Войти через Google» / «Войти через Apple ID»). Этот адрес электронной почты хранится отдельно от почты для восстановления пароля и используется только для отправки кодов при входе в учётную запись. Адрес электронной почты для входа в учётную запись хранится до момента указания нового адреса или удаления учётной записи.
        
        3.3. Ваши сообщения
        3.3.1. Облачные чаты
        Telegram — это облачный сервис. Мы храним на своих серверах сообщения, фотографии, видеоролики и документы из Ваших облачных чатов, чтобы Вы в любой момент могли получить доступ к своим данным с любого устройства, не прибегая к сторонним сервисам для резервного копирования. Все эти данные надёжно зашифрованы, а ключи шифрования хранятся в нескольких дата-центрах, расположенных в разных юрисдикциях. Таким образом, технический персонал в любом из дата-центров или злоумышленники (например, в случае проникновения в дата-центр) не смогут получить доступ к пользовательским данным.
        
        3.3.2. Секретные чаты
        В секретных чатах используется сквозное шифрование. Это означает, что все данные в них зашифрованы с помощью ключа, который есть только у Вас и Вашего собеседника. Никто, включая нас, не может узнать содержание переписки в таких чатах без непосредственного доступа к Вашему устройству. Мы не храним секретные чаты на своих серверах. Мы также не ведём учёта отправки сообщений в секретных чатах, и через короткий промежуток времени у нас не остаётся никакой информации о том, кому и когда Вы отправляли сообщения в таких чатах. По той же причине секретные чаты недоступны в облачном хранилище — сообщения в них можно просмотреть только на том устройстве, с которого или на которое они были отправлены.
        
        3.3.3. Медиафайлы в секретных чатах
        Когда Вы отправляете фотографии, видеоролики и другие файлы в секретном чате, перед загрузкой каждый из этих файлов шифруется отдельным ключом, неизвестным серверу. Затем этот ключ и местоположение файла снова шифруются, на этот раз ключом секретного чата, и отправляются получателю. Получатель может загрузить и расшифровать файл. Таким образом, технически файл находится на одном из серверов Telegram, но для всех, кроме Вас и Вашего собеседника, он выглядит как бессмысленный набор символов, не поддающийся расшифровке. Мы не знаем ни что скрывается за этими случайными символами, ни к какому именно чату они относятся. Время от времени мы очищаем сервера от этих данных, чтобы освободить место.
        
        3.3.4. Публичные чаты
        Помимо личных сообщений, в Telegram поддерживаются публичные каналы и группы. Все публичные чаты относятся к облачным чатам (см. пункт 3.3.1). Информация, которую Вы публикуете в общедоступных сообществах, зашифрована — как и все данные в Telegram — и при хранении, и при передаче, однако Ваши публичные сообщения доступны всем пользователям.
        
        3.4. Номер телефона и список контактов
        В Telegram телефонные номера играют роль уникальных идентификаторов. С помощью телефонных номеров Вы можете легко перенести общение в Telegram вместо использования СМС и других мессенджеров, сохранив при этом прежний круг общения. Мы запрашиваем разрешение перед синхронизацией Ваших контактов.
        
        Мы храним актуальные данные о Ваших контактах, чтобы сообщать Вам, когда кто-то из них регистрируется в Telegram, и корректно отображать имена в уведомлениях. Для этого нам требуются только номер, имя и фамилия; мы не храним никаких других данных о Ваших контактах.
        
        Наши автоматические алгоритмы также могут анализировать обезличенные наборы телефонных номеров, чтобы приблизительно рассчитать количество возможных контактов в Telegram у незарегистрированного потенциального пользователя. Когда Вы выбираете в настройках опцию «Пригласить друзей», эта статистика отображается рядом с Вашим списком контактов, чтобы Вы могли оценить, кому регистрация в Telegram могла бы быть наиболее интересна.
        
        Вы в любой момент можете отключить синхронизацию контактов или удалить их с наших серверов в меню Настройки > Конфиденциальность > Управление данными.
        
        На устройствах на базе Android Telegram запрашивает разрешение на доступ к журналу вызовов (READ_CALL_LOG). Если Вы дадите это разрешение, Telegram сможет подтвердить Ваши данные для входа в учётную запись с помощью телефонного звонка вместо просьбы ввести код. Доступ к журналу вызовов используется, только чтобы Telegram мог зафиксировать получение звонка-подтверждения для входа в учётную запись.
        
        3.5. Данные о местоположении
        Если Вы делитесь своей геопозицией в чате, данные о Вашем местоположении обрабатываются аналогично другим сообщениям в облачных или секретных чатах соответственно.
        
        Если Вы включите трансляцию геопозиции в любом чате или функцию «Показывать меня здесь» в разделе «Люди рядом», Telegram с помощью этих данных будет показывать Ваше местоположение тем пользователям, с которыми Вы им поделились, даже когда приложение закрыто — пока эти дополнительные функции будут включены.
        
        3.6. Файлы cookie
        Мы используем только те файлы cookie, которые необходимы нам для работы и предоставления Услуг через интернет. Мы не используем файлы cookie для составления профиля пользователя или показа рекламы на основании Ваших предпочтений. Cookie, которые мы используем, — это небольшие текстовые файлы, которые позволяют нам предоставлять и персонализировать Услуги, тем самым улучшая Ваш пользовательский опыт. Интернет-браузеры обычно позволяют управлять настройками файлов cookie, в том числе дают возможность принять или отклонить их использование, а также удалить их. Вы можете заблокировать cookie в своём браузере, но в таком случае Вы не сможете войти в Telegram Web.
        
        4. Безопасность персональных данных
        4.1. Хранение данных
        Если Вы зарегистрировались в Telegram из Европы, Ваши данные хранятся в дата-центрах в Нидерландах. Эти дата-центры принадлежат сторонним организациям, а Telegram арендует в них выделенное пространство. При этом размещённые в таких дата-центрах серверы и сети, содержащие Ваши персональные данные, являются собственностью Telegram. Мы не передаём Ваши персональные данные дата-центрам. Все данные надежно зашифрованы, и ни местный технический персонал Telegram, ни злоумышленники (например, в случае проникновения в дата-центр) не могут получить к ним доступ.
        
        4.2. Данные, защищённые сквозным шифрованием
        Ваши сообщения, мультимедиа и другие файлы из секретных чатов (см. пункт 3.3.2 выше), равно как и содержание Ваших звонков и данные, которые Вы храните в Telegram Passport, обрабатываются только на Вашем устройстве и устройстве собеседника. На наши серверы все эти данные попадают уже зашифрованными; при этом ключ для их расшифровки есть только у Вас с собеседником. Хотя серверы Telegram выполняют необходимые действия с данными, защищёнными сквозным шифрованием, для передачи получателю — или, в случае с Telegram Passport, для их хранения, — у нас отсутствует техническая возможность расшифровать их. Таким образом, мы храним и обрабатываем не Ваши персональные данные как таковые, а случайные последовательности символов, не имеющие никакого смысла без ключей шифрования — которых у нас нет.
        
        4.3. Срок хранения данных
        Если в данной Политике конфиденциальности не указано иное, переданные Вами персональные данные хранятся, только пока они необходимы нам для выполнения обязательств по предоставлению Услуг.
        
        5. Обработка персональных данных
        5.1. Наши Услуги
        Telegram — это облачный сервис. Мы обрабатываем Ваши данные, чтобы предоставлять Вам доступ к облачным чатам, включая историю сообщений, мультимедиа и файлы, на любых устройствах по Вашему выбору без необходимости прибегать к сторонним сервисам для резервного копирования или услугам облачных хранилищ.
        
        5.2. Безопасность и защита
        В Telegram существуют огромные сообщества, которые нам необходимо защищать от злоупотреблений и нарушений Пользовательского соглашения. Кроме того, аудитория Telegram насчитывает более 700 миллионов пользователей, что делает его привлекательной целью для спамеров. Чтобы лучше защитить Вашу учётную запись, а также чтобы предотвращать рассылку спама, злоупотребления и другие нарушения Пользовательского соглашения, мы можем собирать метаданные: например, Ваш IP-адрес, сведения об устройствах и приложениях Telegram, которыми Вы пользовались, историю изменений имени пользователя и подобную информацию. Такие метаданные — если они были собраны — хранятся не более 12 месяцев.
        
        5.3. Спам и злоупотребления
        В целях борьбы с мошенничеством (фишингом), рассылкой спама и другими видами злоупотреблений и нарушений Пользовательского соглашения Telegram наши модераторы могут проверять сообщения, на которые поступают жалобы от получателей. Если после проверки модераторы подтвердят, что Ваше сообщение является спамом, Ваша учётная запись может быть ограничена — временно или бессрочно. В период действия ограничений Вы не сможете связаться с пользователями не из списка контактов. Оспорить решение модераторов можно через бота @Spambot. В случае более серьёзных нарушений Ваша учётная запись может быть полностью заблокирована. В целях борьбы со спамом и фишингом мы также можем применять автоматические алгоритмы для анализа сообщений в облачных чатах.
        
        5.4. Работа на нескольких устройствах одновременно
        Мы также можем хранить некоторые сводные метаданные для создания функций Telegram (см. пункт 5.5 ниже), которые доступны одновременно на всех Ваших устройствах.
        
        5.5. Расширенные возможности
        Мы можем создавать новые полезные функции с помощью некоторых сводных данных о том, как вы используете Telegram. Например, открыв поиск по чатам, Вы увидите в поле вверху экрана контакты, которым Вы часто пишете. Для работы этой функции мы определяем тех пользователей, которым Вы чаще всего отправляете сообщения. Аналогичный рейтинг рассчитывается и для инлайн-ботов (встроенных ботов), чтобы приложение могло предположить, какими ботами Вы, скорее всего, воспользуетесь в меню вложений (или когда Вы начинаете новое сообщение с символа «@»). Если Вы хотите отключить эту функцию и удалить соответствующие данные, Вы можете зайти в Настройки > Конфиденциальность > Управление данными и отключить опцию «Подсказка людей при поиске».
        
        5.6. Отсутствие рекламы, основанной на данных переписки
        В отличие от других интернет-сервисов, мы не используем данные Вашей переписки для показа рекламы на основании Ваших предпочтений или в других коммерческих целях. Telegram хранит только те данные, которые необходимы ему для корректной работы в качестве надежного и функционального облачного сервиса.
        
        Telegram предлагает рекламодателям платформу для размещения рекламных сообщений в крупных каналах (от 1000 подписчиков и более), но содержание таких сообщений зависит только от тематики каналов. Никакие данные Вашей переписки не собираются и не анализируются для показа рекламы или рекламных сообщений.
        
        Функционал рекламной платформы не распространяется на пользователей с подпиской Telegram Premium.
        
        5.6.1. Расширенные рекламные возможности в некоторых странах
        Данные, на основании которых показываются те или иные объявления, никогда не передаются третьим лицам (в том числе рекламодателям).
        
        Функционал рекламной платформы не распространяется на пользователей с подпиской Telegram Premium, а указанные в этом пункте данные для них не обрабатываются.
        
        В крупных каналах (от 1000 подписчиков и более) могут быть размещены объявления, которые зависят от языка сообщений — однако один и тот же язык нередко используется в нескольких соседних странах. Чтобы избежать показа неуместных объявлений, для рекламодателей предусмотрена возможность отображения объявлений в зависимости от приблизительно определённых страны и города, к которым относятся префикс телефона или IP-адрес пользователя (никакие другие геолокационные данные для этих целей не используются). Это, в частности, позволяет рекламодателям избежать показа объявлений в определённой стране или на определённых территориях (например, если рекламодатель создаёт объявление для русскоязычных пользователей, но не хотел бы, чтобы оно отображалось на территории России).
        
        Если Вы подписаны на достаточное количество крупных публичных каналов на определенную тематику (например, Финансы, Политика и Происшествия или Юмор), Вы можете увидеть объявления, предназначенные для каналов этой категории, также и в других крупных каналах.
        
        Рекламодатель может передать нам обезличенный список зашифрованных идентификаторов, основанных на номерах телефонов (но не содержащих сами номера телефонов), чтобы определить круг пользователей, которым будут показываться те или иные объявления в крупных каналах. Это не позволяет никаким третьим лицам, включая рекламодателей, узнать Ваш номер телефона или идентификатор в Telegram.
        
        Рекламодатели могут использовать на своих веб-сайтах пиксельные теги для анализа эффективности рекламы. Пиксельный тег — это небольшой фрагмент кода, встроенный в цифровой продукт рекламодателя (например, веб-сайт), который позволяет эффективнее собирать и обрабатывать статистику о действиях, совершённых на веб-сайте рекламодателя: просмотрах страниц, кликах, покупках, регистрациях и других взаимодействиях, зафиксированных с помощью этого кода. В частности, с помощью пиксельных тегов рекламодатели могут установить, что переход на веб-страницу был совершен по ссылке, размещённой в рекламном материале на нашей платформе. Все данные, собираемые с использованием пиксельных тегов, обрабатываются в обезличенной и агрегированной форме и не дают идентифицировать конкретных пользователей.
        
        Пиксельные теги не позволяют собирать и обрабатывать статистику о действиях в Telegram.
        
        6. Взаимодействие с ботами
        6.1. Экосистема
        Telegram предоставляет доступ к API, с помощью которого разработчики могут создавать собственных ботов. Боты — это программы, которые можно встраивать прямо в интерфейс Telegram: Вы можете вести с ними переписку, выбрав их в списке чатов, добавлять их в группы или использовать специальный встроенный интерфейс для доступа к их функциям прямо из поля ввода в Ваших чатах («инлайн-бот»). Для выполнения любого из перечисленных действий необходима отправка части Ваших данных сторонним разработчикам соответствующего бота.
        
        6.2. Способы получения данных ботами
        Разработчики ботов могут получить Ваши данные, когда Вы взаимодействуете с ботами, а именно:
        
        отправляете боту сообщения;
        используете инлайн-бота;
        являетесь участником группы, в которую добавлен бот;
        нажимаете на кнопки в сообщениях, отправленных ботом;
        оплачиваете товары и услуги при помощи бота (см. пункт 7 ниже).
        6.3. Данные, которые боты могут собирать
        В любом из случаев, перечисленных в предыдущем пункте, разработчики автоматизированного пользователя (бота) могут получить публичные сведения о Вашей учётной записи (см. пункт 3.1 выше): выбранное Вами имя, имя пользователя и фотографии профиля.
        
        Боты также могут собирать следующие данные, когда Вы взаимодействуете с ними:
        
        Боты, разумеется, получают сообщения, которые Вы им отправляете.
        Если Вы переходите по ссылкам или нажимаете на кнопки в сообщениях бота, он может узнать Ваш IP-адрес (при условии, что бот напрямую связан с сайтом, на который ведёт ссылка).
        Если Вы с ботом состоите в одной группе, он может знать, что Вы являетесь её участником.
        Когда Вы начинаете сообщение с имени пользователя, которое принадлежит инлайн-боту (например, @gif, интерфейс меняется, и всё, что Вы набираете в строке ввода, становится запросом к этому боту. Этот запрос отправляется боту, чтобы тот мог выполнить свою функцию. Мы предупредим Вас об этом при первом использовании инлайн-бота.
        Боты, добавленные в группу, могут работать в двух режимах: с доступом или без доступа к сообщениям в ней. Боты с доступом к сообщениям могут видеть всё происходящее в группе. В списке участников группы указано, имеет ли бот доступ к сообщениям в ней.
        6.4. Сторонние боты независимы от Telegram
        Существуют боты, условия использования которых устанавливается администрацией Telegram. Никакие другие боты и их разработчики не связаны с Telegram. Они полностью независимы от нас. Они должны запросить у Вас разрешение, прежде чем получить доступ к Вашим данным или данные от Вас.
        
        Использование функций ботов и мини-приложений регулируется Условиями использования ботов и Условиями использования мини-приложений соответственно.
        
        7. Сторонние платёжные сервисы
        7.1. Данные о платежах
        Начиная с версии Telegram 4.0 пользователям доступна платформа для приёма платежей через ботов. Telegram не обрабатывает платежи, совершённые пользователями: эту функцию выполняют различные платёжные системы по всему миру. Эти платёжные системы сами обрабатывают и хранят данные Ваших банковских карт. Доступа к этим данным нет ни у Telegram, ни у продавцов товаров и услуг (разработчиков ботов). Несмотря на то, что мы пользуемся услугами платёжных систем, они полностью независимы от Telegram. Мы рекомендуем ознакомиться с политиками конфиденциальности таких платёжных систем, прежде чем передавать им свои данные.
        
        7.2. Данные банковских карт
        При совершении покупки Вы вводите данные своей банковской карты в интерфейсе платёжной системы, обрабатывающей платёж. Далее эта информация поступает непосредственно на сервер платёжной системы. Данные Ваших банковских карт никогда не поступают на серверы Telegram, у нас нет к ним доступа и мы не храним их у себя. Если Вы сохраните данные своей банковской карты, они будут находиться на серверах соответствующей платёжной системы, а система, в свою очередь, предоставит Telegram токен (электронный ключ), который Вы впоследствии сможете использовать для новых платежей. С помощью этого токена невозможно восстановить данные Вашей банковской карты.
        
        7.3 Сведения о доставке
        Когда Вы оформляете заказ и вводите сведения, необходимые для доставки, мы отправляем их напрямую разработчику бота-продавца. Эти сведения можно сохранить в Telegram, если Вы не хотите вводить их заново при покупках в будущем. В интерфейсе приложений доступен лёгкий способ удалить эту информацию.
        
        7.4. Удаление данных о платежах
        Вы можете в любой момент удалить все платёжные данные, связанные с Вашей учётной записью. Для этого в приложении Telegram достаточно перейти в меню Настройки > Конфиденциальность > Управление данными и выбрать опцию «Удалить платежные данные». Если Вы решите очистить платёжные данные, мы удалим все хранящиеся у нас сведения, необходимые для доставки товаров, и токены от всех платёжных систем, а также направим операторам платежных систем запросы на удаление всех хранящихся у них данных Ваших банковских карт.
        
        7.5. Оспаривание платежей
        Telegram не хранит у себя данные банковских карт и сведения об операциях, поэтому мы не можем рассматривать претензии или требования возврата уплаченных средств. Все спорные вопросы о платежах являются ответственностью разработчиков ботов, платежных систем и банков, участвовавших в операции.
        
        8. Лица, которым могут быть переданы Ваши персональные данные
        8.1. Другие пользователи Telegram
        Под другими пользователями Telegram понимаются пользователи, с которыми Вы по своему желанию общаетесь и делитесь той или иной информацией. Обратите внимание, что, принимая Пользовательское соглашение и общаясь с другими пользователями Telegram, Вы поручаете нам передать ваши персональные данные таким пользователям от Вашего имени согласно данной Политике конфиденциальности. Мы принимаем все соответствующие технические и организационные меры (включая шифрование персональных данных), чтобы обеспечить такой уровень безопасности данных, который будет соответствовать возможным рискам.
        
        8.2. Компании группы Telegram
        В целях предоставления, улучшения и поддержки наших Услуг мы можем передавать Ваши персональные данные: (1) нашей головной компании Telegram Group Inc., зарегистрированной на Британских Виргинских островах, (2) Telegraph Inc., компании группы Telegram, также зарегистрированной на БВО, и (3) Telegram FZ-LLC, компании группы Telegram, зарегистрированной в Дубае. Мы принимаем соответствующие меры для обеспечения безопасности и сохранности этих персональных данных, заключающиеся в применении стандартных договорных условий (Standard Contractual Clauses), утверждённых Европейской комиссией, в соглашениях с другими компаниями группы Telegram.
        
        8.3. Правоохранительные органы
        Если Telegram получит официальный запрос от компетентных судебных властей, который подтверждает, что Вы являетесь подозреваемым в уголовном деле о незаконных действиях, нарушающих Пользовательское соглашение Telegram, мы проведём юридический анализ запроса и можем предоставить Ваши IP-адрес и номер телефона соответствующим органам. В случае предоставления каких-либо данных, мы отразим это в отчёте, который раз в три месяца обновляется в официальном канале: https://t.me/transparency.
        
        8.4. Перевод чатов, каналов и отдельных сообщений по запросу пользователя
        Пользователи могут переводить отдельные текстовые сообщения на другой язык, выбрав пункт «Перевести» во всплывающем меню сообщения (чтобы использовать эту функцию, сначала необходимо включить перевод сообщений в разделе Настройки > Язык в приложении Telegram). Пользователи с подпиской Telegram Premium также могут дополнительно включить автоматический перевод в реальном времени в любом чате, группе или канале.
        
        Чтобы обеспечить возможность автоматического перевода сообщений по запросу пользователя, Telegram может обращаться к услугам третьей стороны, Google LLC, дочерней компании Alphabet Inc, поэтому текст исходных сообщений может быть передан Google для их перевода. Google получает доступ к данным исходных сообщений только для предоставления перевода и не может использовать эти данные в иных своих продуктах и услугах или в целях рекламы.
        
        8.5. Расшифровка голосовых и видеосообщений по запросу пользователя
        Некоторые пользователи могут преобразовывать голосовые или видеосообщения в текст, нажав кнопку распознавания голоса («-> A») рядом с таким сообщением (чтобы использовать эту опцию, сначала необходимо оформить подписку Telegram Premium в разделе Настройки > Telegram Premium).
        
        Чтобы обеспечить возможность преобразования голосового сообщения или видеосообщения в текст по запросу пользователя, Telegram может обращаться к услугам третьей стороны, Google LLC, дочерней компании Alphabet Inc, поэтому аудиоданные исходных голосовых и видеосообщений могут быть переданы Google для получения текстовых версий. Для этой цели могут передаваться только аудиоданные (никакие другие данные, включая IP-адрес пользователя и любую информацию об учётной записи, не передаются). В соответствии с соглашением между Telegram и Google, Telegram, от имени своих пользователей, оплачивает распознавание сообщений, а Google получает доступ к аудиоданным исходных сообщений исключительно для предоставления текстовых версий — Google не может создавать реестры аудиоданных или их текстовых версий и не может использовать данные в иных своих продуктах и услугах или в целях рекламы.
        
        9. Ваши права в отношении предоставленных персональных данных
        9.1. Ваши права
        Согласно действующему законодательству о защите данных, при определённых обстоятельствах Вы обладаете правами в отношении своих персональных данных. Вы имеете право: (1) запросить копию всех своих персональных данных, хранящихся в Telegram, и передать эту копию другому сервису; (2) удалить (см. пункт 10 ниже) или изменить свои персональные данные; (3) ограничивать обработку своих персональных данных или возражать против неё; (4) исправлять любые неточные или неполные персональные данные, хранящиеся в Telegram; и (5) обратиться в национальные органы по защите данных с жалобой относительно обработки нами Ваших персональных данных.
        
        9.2. Осуществление Ваших прав
        Если Вы хотите воспользоваться любым из этих прав, необходимую информацию Вы можете найти в пункте 12 ниже.
        
        9.3. Управление данными
        Вы можете управлять использованием Ваших данных (например, удалить синхронизированные контакты) в разделе Настройки > Конфиденциальность (с помощью одного из наших мобильных приложений).
        
        Если Вы не готовы предоставить Telegram минимальные необходимые данные для работы приложения, к сожалению, мы не сможем предоставлять Вам Услуги. В этом случае Вы можете удалить свою учётную запись на странице деактивации.
        
        10. Удаление данных
        10.1. Учётные записи
        Удалить свою учётную запись в Telegram можно на странице деактивации. При удалении учётной записи все Ваши сообщения, медиафайлы, контакты и любые другие данные в облачном хранилище Telegram также будут удалены. Удаление учётной записи необходимо подтвердить через приложение. После этого восстановить учётную запись будет невозможно.
        
        10.2. Сообщения
        Если Вы удалите сообщение в секретном чате, это сообщение удалится и на устройстве Вашего собеседника.
        Вы можете удалить сообщение в облачном чате для всех участников в течение как минимум 48 часов после отправки. Если прошло более 48 часов, сообщение будет удалено только из Вашей истории сообщений, а его копия останется на сервере как часть истории сообщений получателя. Если получатель также удалит это сообщение, оно исчезнет навсегда.
        Начиная с версии Telegram 5.5 любой участник личного чата может удалять любые сообщения — отправленные или полученные — как у себя, так и у собеседника, без каких-либо ограничений по времени. Любой участник личного чата также может полностью очистить историю чата у обоих участников, что приведёт к удалению всех сообщений в данном чате, независимо от того, сколько сообщений хранится у каждого из участников.
        Если Вы удалите сообщение в супергруппе или канале, оно будет удалено у всех участников группы (подписчиков канала). Обратите внимание, что в супергруппах удалённые сообщения и первоначальные версии отредактированных сообщений хранятся в течение 48 часов после удаления, так как они отображаются в журнале действий администраторов.
        10.3. Удаление сообщений по таймеру
        В секретных чатах можно настроить удаление сообщений по таймеру. Обратный отсчёт до удаления начнётся, как только такое сообщение будет прочитано (рядом с ним появятся две галочки). По истечении установленного времени сообщение (фотография, видеофайл и т. д.) будет удалено на устройствах обоих участников секретного чата. Медиафайлы, автоматически удаляющиеся вскоре (менее чем через минуту) после просмотра, при получении скрыты под полупрозрачной обложкой. Обратный отсчёт начинается в тот момент, когда получатель нажимает на такой файл для просмотра. В облачных чатах также можно настроить автоматическое удаление сообщение по таймеру.
        
        10.4. Автоматическое удаление учётной записи
        По умолчанию, если Вы не входите в свою учётную запись и не пользуетесь Telegram в течение как минимум 18 месяцев, Ваш профиль удаляется вместе со всеми сообщениями, медиафайлами, контактами и другими данными, которые Вы храните в облачном хранилище Telegram. Период, после которого неактивная учётная запись автоматически удаляется, можно изменить в меню «Настройки».
        
        11. Изменения в Политике конфиденциальности
        Мы оставляем за собой право пересматривать данную Политику конфиденциальности и по мере необходимости вносить в неё изменения. Любые изменения в данной Политике конфиденциальности вступают в силу с момента публикации новой версии на этой странице по адресу https://telegram.org/privacy/ru. Проверяйте страницу время от времени, чтобы оставаться в курсе изменений в тексте Политики конфиденциальности.
        
        8 июля 2023
        
        Политика конфиденциальности для пользователей Вашей страны была обновлена в целях соблюдения территориальных ограничений при отображении рекламных объявлений в странах с большим количеством русскоязычных каналов.
        23 сентября 2024
        
        Обновлен пункт 8.3, подробнее в этой публикации.
        29 сентября 2024
        
        Обновлен пункт 10.4, изменено время по умолчанию для автоматического удаления аккаунта.
        О важных изменениях в Политике конфиденциальности мы сообщаем в приложении Telegram.
        
        12. Дополнительная информация
        Вы можете ознакомиться с ответами на часто задаваемые вопросы в разделе Вопросы о Telegram. Кроме того, Вы можете обратиться в поддержку Telegram в меню Настройки > Задать вопрос в приложении (обратите внимание, что в поддержке Telegram отвечают волонтеры).
        
        Для получения копии своих данных, хранящихся в Telegram, установите на компьютер приложение Telegram Desktop и перейдите в Настройки > Продвинутые настройки > Экспорт данных из Telegram.
        
        Telegram — проект с открытым исходным кодом. Вы можете изучить дополнительную информацию по ссылкам ниже:
        
        API: https://core.telegram.org/api;
        Платформа для создания ботов: https://core.telegram.org/bots;
        Протокол шифрования: https://core.telegram.org/mtproto;
        Исходный код: https://telegram.org/apps#source-code;
        Вы также можете убедиться, что клиенты Telegram, доступные в магазинах приложений, используют именно тот исходный код, который мы публикуем: https://core.telegram.org/reproducible-builds.
    </div>
</body>
</html>
